In [2]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output, State
import numpy as np
import pandas as pd
import plotly.graph_objs as go

path = 'https://raw.githubusercontent.com/andremforte/FinalProjectDV/master/'

df = pd.read_excel(path + 'df_final.xlsx')

C:\Users\andre\AppData\Local\Temp/ipykernel_100112/3738586866.py:2: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
C:\Users\andre\AppData\Local\Temp/ipykernel_100112/3738586866.py:3: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [2]:
#Income <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
income_total = pd.read_excel(path + 'Income_Andre.xlsx', sheet_name='Income by age and sex- Total ')

In [3]:
income_total

     Group          GEO/TIME     2016   2017   2018     2019     2020
0     Total          Belgium  22295.0  22733  23686  24608.0  25672.0
1     Total         Bulgaria   3151.0   3590   3590   4224.0   4612.0
2     Total          Czechia   7838.0   8282   9088   9995.0  10627.0
3     Total          Denmark  28665.0  29383  30104  30717.0  30681.0
4     Total         Germany   21275.0  21920  22713  23515.0  23460.0
..      ...              ...      ...    ...    ...      ...      ...
103  Female       Montenegro   3199.0   3440   3757   3767.0   3883.0
104  Female  North Macedonia   2226.0   2433   2624   2718.0      NaN
105  Female          Albania      NaN   1747   1972   2195.0   2482.0
106  Female           Serbia   2416.0   2493   2706   3237.0   3666.0
107  Female           Turkey   3703.0   3808   3445   2994.0   3096.0

[108 rows x 7 columns]

In [4]:
table = pd.pivot_table(income_total, index =['Group '], columns = ['GEO/TIME'], values =  [2016, 2017, 2018, 2019, 2020])

In [5]:
table = table.T

In [6]:
table.reset_index(inplace = True)

In [7]:
table = table.rename(columns={"level_0": "Year"})

In [8]:
table

Group   Year     GEO/TIME   Female     Male    Total
0       2016      Austria  23202.0  24111.0  23694.0
1       2016      Belgium  21550.0  23129.0  22295.0
2       2016     Bulgaria   3043.0   3249.0   3151.0
3       2016      Croatia   5569.0   5860.0   5726.0
4       2016       Cyprus  13854.0  14340.0  14020.0
..       ...          ...      ...      ...      ...
168     2020     Slovenia  14439.0  15089.0  14774.0
169     2020        Spain  15804.0  16339.0  16043.0
170     2020       Sweden  24015.0  25346.0  24700.0
171     2020  Switzerland  41911.0  44143.0  43051.0
172     2020       Turkey   3096.0   3161.0   3128.0

[173 rows x 5 columns]

In [16]:
table.columns[2:]

Index(['Female', 'Male', 'Total'], dtype='object', name='Group ')

In [18]:
group_options = [dict(label = group, value =group) for group in table.columns[2:].unique()]

In [19]:
group_options

[{'label': 'Female', 'value': 'Female'},
 {'label': 'Male', 'value': 'Male'},
 {'label': 'Total', 'value': 'Total'}]

In [3]:
#Income <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
education = pd.read_excel(path + 'PopulationEducationalAttainmentLevelData.xlsx')

In [4]:
education.head()

,GEO/TIME,Year,Level of Education,Educational attainment level
0,Austria,2020,Tertiary education (levels 5-8),31.3
1,Belgium,2020,Tertiary education (levels 5-8),37.6
2,Bulgaria,2020,Tertiary education (levels 5-8),25.6
3,Switzerland,2020,Tertiary education (levels 5-8),39.3
4,Cyprus,2020,Tertiary education (levels 5-8),40.2

In [10]:
education = pd.pivot_table(education, index =['Level of Education'], columns = ['GEO/TIME', 'Year'], values =  ['Educational attainment level'])

In [14]:
education = education.T

In [26]:
ducation.reset_index(inplace = True)
education.drop('level_0', axis = 1,  inplace = True)

In [29]:
education

Level of Education,GEO/TIME,Year,"Less than primary, primary and lower secondary education (levels 0-2)",Tertiary education (levels 5-8),Upper secondary and post-secondary non-tertiary education (levels 3 and 4)
0,Austria,2016,19.6,28.9,51.5
1,Austria,2017,19.3,29.7,51.0
2,Austria,2018,18.9,30.1,51.0
3,Austria,2019,18.7,31.1,50.2
4,Austria,2020,18.7,31.3,50.0
...,...,...,...,...,...
173,Turkey,2020,58.7,19.7,21.7
174,United Kingdom,2016,20.5,38.3,41.2
175,United Kingdom,2017,20.0,38.7,41.3
176,United Kingdom,2018,19.7,39.3,41.0
177,United Kingdom,2019,19.1,40.6,40.2

In [28]:
education.columns

Index(['GEO/TIME', 'Year',
       'Less than primary, primary and lower secondary education (levels 0-2)',
       'Tertiary education (levels 5-8)',
       'Upper secondary and post-secondary non-tertiary education (levels 3 and 4)'],
      dtype='object', name='Level of Education')

In [30]:
df_pie = education.loc[(education['GEO/TIME'] == 'Austria')]

In [34]:
df_pie.columns[2:].tolist()

['Less than primary, primary and lower secondary education (levels 0-2)',
 'Tertiary education (levels 5-8)',
 'Upper secondary and post-secondary non-tertiary education (levels 3 and 4)']

In [43]:
df_pie.loc[0,:][2:].tolist()

[19.6, 28.9, 51.5]

In [95]:
table.reset_index()
table_set_index()

       GEO/TIME     2016   2017   2018  Group      2019     2020
0       Austria  23202.0  24433  24675  Female  25241.0  26348.0
1       Austria  23694.0  24752  25176   Total  25729.0  26555.0
2       Austria  24111.0  25225  25922    Male  26155.0  26958.0
3       Belgium  21550.0  21976  23135  Female  24013.0  25135.0
4       Belgium  22295.0  22733  23686   Total  24608.0  25672.0
..          ...      ...    ...    ...     ...      ...      ...
88  Switzerland  44253.0  43741  43013   Total  41259.0  43051.0
89  Switzerland  45521.0  44770  43666    Male  42715.0  44143.0
90       Turkey   3703.0   3808   3445  Female   2994.0   3096.0
91       Turkey   3752.0   3866   3499   Total   3021.0   3128.0
92       Turkey   3798.0   3928   3559    Male   3055.0   3161.0

[93 rows x 7 columns]

In [32]:
table.reset_index(inplace = True)

In [33]:
table.columns.tolist()

['Group ', 'GEO/TIME', 2016, 2017, 2018, 2019, 2020]

In [34]:
table

     Group         GEO/TIME     2016   2017   2018     2019     2020
0    Female         Albania      NaN   1747   1972   2195.0   2482.0
1    Female         Austria  23202.0  24433  24675  25241.0  26348.0
2    Female         Belgium  21550.0  21976  23135  24013.0  25135.0
3    Female        Bulgaria   3043.0   3480   3474   4059.0   4424.0
4    Female         Croatia   5569.0   6068   6545   7203.0   7765.0
..      ...             ...      ...    ...    ...      ...      ...
103   Total           Spain  13681.0  14203  14785  15015.0  16043.0
104   Total          Sweden  25164.0  25376  25540  24474.0  24700.0
105   Total     Switzerland  44253.0  43741  43013  41259.0  43051.0
106   Total          Turkey   3752.0   3866   3499   3021.0   3128.0
107   Total  United Kingdom  21136.0  20995  21464      NaN      NaN

[108 rows x 7 columns]

In [37]:
table['GEO/TIME']

0             Albania
1             Austria
2             Belgium
3            Bulgaria
4             Croatia
            ...
103             Spain
104            Sweden
105       Switzerland
106            Turkey
107    United Kingdom
Name: GEO/TIME, Length: 108, dtype: object

In [47]:
table['GEO/TIME'].unique()

array(['Albania', 'Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany ',
       'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia',
       'Lithuania', 'Luxembourg', 'Malta', 'Montenegro', 'Netherlands',
       'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania',
       'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland',
       'Turkey', 'United Kingdom'], dtype=object)

In [51]:
table['Group '].unique().tolist()

['Female', 'Male', 'Total']

In [70]:
table = pd.pivot_table(income_total, index=['Group ', 'GEO/TIME']).T

In [61]:
table.reset_index(inplace = True)

In [15]:
income_total.columns

Index(['GEO/TIME', 2016, 2017, 2018, 2019, 2020], dtype='object')

In [23]:
income_total['GEO/TIME'].tolist()

['Belgium',
 'Bulgaria',
 'Czechia',
 'Denmark',
 'Germany ',
 'Estonia',
 'Ireland',
 'Greece',
 'Spain',
 'France',
 'Croatia',
 'Italy',
 'Cyprus',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Hungary',
 'Malta',
 'Netherlands',
 'Austria',
 'Poland',
 'Portugal',
 'Romania',
 'Slovenia',
 'Slovakia',
 'Finland',
 'Sweden',
 'Iceland',
 'Norway',
 'Switzerland',
 'United Kingdom',
 'Montenegro',
 'North Macedonia',
 'Albania',
 'Serbia',
 'Turkey']

In [28]:
income_total.loc[(income_total['GEO/TIME'] == 'Portugal')]

    GEO/TIME    2016  2017  2018     2019     2020
21  Portugal  8782.0  9071  9346  10023.0  10800.0

In [16]:
years = [2016, 2017, 2018, 2019, 2020]

In [17]:
income_total[years]

       2016   2017   2018     2019     2020
0   22295.0  22733  23686  24608.0  25672.0
1    3151.0   3590   3590   4224.0   4612.0
2    7838.0   8282   9088   9995.0  10627.0
3   28665.0  29383  30104  30717.0  30681.0
4   21275.0  21920  22713  23515.0  23460.0
5    8645.0   9384  10524  11461.0  12228.0
6   22544.0  22879  24920  25528.0  26250.0
7    7500.0   7600   7863   8195.0   8781.0
8   13681.0  14203  14785  15015.0  16043.0
9   21713.0  21960  22220  22562.0  21726.0
10   5726.0   6210   6659   7306.0   7892.0
11  16247.0  16542  16844  17165.0      NaN
12  14020.0  14497  15336  16215.0  16704.0
13   6365.0   6607   7333   8187.0   8827.0
14   5645.0   6134   6895   7586.0   8606.0
15  32841.0  36315  34472  36354.0  37844.0
16   4768.0   4988   5424   5852.0   6478.0
17  13617.0  14522  14781  15354.0  16240.0
18  22733.0  23561  24016  24612.0  25801.0
19  23694.0  24752  25176  25729.0  26555.0
20   5884.0   5945   6574   7124.0   8022.0
21   8782.0   9071   9346  10023.0  10800.0
22   2448.0   2742   3284   3851.0   4267.0
23  12327.0  12713  13244  14067.0  14774.0
24   6951.0   7183   7462   8119.0   8703.0
25  23650.0  23987  24544  24879.0  25490.0
26  25164.0  25376  25540  24474.0  24700.0
27  28393.0  33874  39918      NaN      NaN
28  39573.0  38471  39438  39125.0  40241.0
29  44253.0  43741  43013  41259.0  43051.0
30  21136.0  20995  21464      NaN      NaN
31   3200.0   3496   3783   3768.0   3911.0
32   2233.0   2439   2626   2727.0      NaN
33      NaN   1760   1997   2231.0   2523.0
34   2432.0   2534   2739   3277.0   3733.0
35   3752.0   3866   3499   3021.0   3128.0

In [57]:
df[df['Year'] == 2016]

,Unnamed: 0,Year,Country,CODE,Quality_Of_Life,Purchasing_Power,Safety,Health_Care,Cost_Of_Living,Property_Price_To_Income,Traffic_Commute_Time,Pollution,Climate
0,0,2016,Austria,AUT,192.40,120.46,75.94,77.78,66.59,9.52,26.79,30.77,63.76
1,1,2016,Belgium,BEL,162.29,106.69,54.81,78.06,75.44,6.58,36.19,56.61,76.97
2,2,2016,Bosnia And Herzegovina,BIH,146.70,60.64,57.54,60.52,34.59,10.94,23.41,57.95,75.31
3,3,2016,Bulgaria,BGR,141.61,59.19,58.58,50.93,36.36,8.80,28.66,60.35,77.80
4,4,2016,Croatia,HRV,172.39,67.89,70.49,59.96,48.20,11.88,30.03,30.42,85.64
5,5,2016,Czech Republic,CZE,167.38,89.99,67.94,72.35,41.80,10.33,32.48,42.49,63.48
6,6,2016,Denmark,DNK,206.49,142.14,74.33,81.89,84.88,5.85,25.64,29.93,70.65
7,7,2016,Finland,FIN,184.01,132.93,71.88,74.36,75.25,7.73,32.89,17.84,32.56
8,8,2016,France,FRA,173.56,118.51,55.94,82.25,75.30,11.93,31.98,46.31,78.30
9,9,2016,Germany,DEU,199.70,147.61,67.05,75.85,65.54,7.13,29.07,29.91,63.02
10,10,2016,Greece,GRC,165.43,79.27,61.54,59.17,54.40,7.38,29.09,47.22,87.14
11,11,2016,Hungary,HUN,140.74,56.30,58.07,52.07,41.29,9.81,31.78,46.70,66.89
12,12,2016,Ireland,IRL,171.92,125.66,51.61,50.38,78.03,8.51,32.31,30.85,73.07
13,13,2016,Italy,ITA,159.28,105.67,53.78,67.76,68.77,10.37,36.49,56.56,86.19
14,14,2016,Lithuania,LTU,134.33,61.25,56.85,67.38,45.56,12.90,30.24,30.94,24.42
15,15,2016,Netherlands,NLD,192.40,129.34,68.53,70.43,72.12,5.87,35.51,32.79,76.28
16,16,2016,North Macedonia,MKD,115.03,46.74,61.98,59.99,31.05,15.52,40.68,85.29,80.55
17,17,2016,Norway,NOR,188.90,125.75,69.89,74.23,99.80,7.36,29.48,18.21,56.33
18,18,2016,Poland,POL,153.61,80.77,68.59,60.01,38.53,10.95,34.51,49.87,64.33
19,19,2016,Portugal,PRT,181.18,75.47,64.87,69.03,49.83,8.43,30.56,31.85,91.70
20,20,2016,Romania,ROU,146.13,61.90,70.28,51.43,34.80,10.56,33.29,50.50,66.96
21,21,2016,Russia,RUS,88.31,57.42,52.69,54.15,38.48,12.84,49.13,64.49,10.87
22,22,2016,Serbia,SRB,138.26,49.62,56.72,55.88,33.56,16.59,28.37,55.14,83.89
23,23,2016,Slovenia,SVN,175.93,89.76,73.73,58.47,52.19,9.72,25.00,28.20,62.46
24,24,2016,Spain,ESP,186.41,105.31,68.23,75.89,56.11,8.06,30.52,46.58,90.80
25,25,2016,Sweden,SWE,185.81,128.22,56.88,74.33,75.70,11.19,32.05,18.30,61.80
26,26,2016,Switzerland,CHE,208.54,178.74,74.27,68.88,123.10,8.57,28.73,23.02,70.50
27,27,2016,Ukraine,UKR,85.56,29.66,51.38,49.69,28.56,26.16,39.95,67.84,50.40
28,28,2016,United Kingdom,GBR,180.25,120.00,56.87,74.03,81.03,9.28,35.53,35.02,81.60

In [6]:
import dash
from dash import dcc
from dash import html
#import dash_bootstrap_components as dbc
from dash.dependencies import Input, Output, State
import numpy as np
import pandas as pd
import plotly.graph_objs as go

path = 'https://raw.githubusercontent.com/andremforte/FinalProjectDV/master/'

df = pd.read_csv(path + 'df.csv')

country_options = [dict(label=country, value=country) for country in df['Country'].unique()]

In [7]:
country_options

[{'label': ' Austria', 'value': ' Austria'},
 {'label': ' Belarus', 'value': ' Belarus'},
 {'label': ' Belgium', 'value': ' Belgium'},
 {'label': ' Bosnia And Herzegovina', 'value': ' Bosnia And Herzegovina'},
 {'label': ' Bulgaria', 'value': ' Bulgaria'},
 {'label': ' Croatia', 'value': ' Croatia'},
 {'label': ' Czech Republic', 'value': ' Czech Republic'},
 {'label': ' Denmark', 'value': ' Denmark'},
 {'label': ' Estonia', 'value': ' Estonia'},
 {'label': ' Finland', 'value': ' Finland'},
 {'label': ' France', 'value': ' France'},
 {'label': ' Germany', 'value': ' Germany'},
 {'label': ' Greece', 'value': ' Greece'},
 {'label': ' Hungary', 'value': ' Hungary'},
 {'label': ' Iceland', 'value': ' Iceland'},
 {'label': ' Ireland', 'value': ' Ireland'},
 {'label': ' Italy', 'value': ' Italy'},
 {'label': ' Latvia', 'value': ' Latvia'},
 {'label': ' Lithuania', 'value': ' Lithuania'},
 {'label': ' Luxembourg', 'value': ' Luxembourg'},
 {'label': ' Netherlands', 'value': ' Netherlands'},
 {'label': ' North Macedonia', 'value': ' North Macedonia'},
 {'label': ' Norway', 'value': ' Norway'},
 {'label': ' Poland', 'value': ' Poland'},
 {'label': ' Portugal', 'value': ' Portugal'},
 {'label': ' Romania', 'value': ' Romania'},
 {'label': ' Russia', 'value': ' Russia'},
 {'label': ' Serbia', 'value': ' Serbia'},
 {'label': ' Slovakia', 'value': ' Slovakia'},
 {'label': ' Slovenia', 'value': ' Slovenia'},
 {'label': ' Spain', 'value': ' Spain'},
 {'label': ' Sweden', 'value': ' Sweden'},
 {'label': ' Switzerland', 'value': ' Switzerland'},
 {'label': ' Ukraine', 'value': ' Ukraine'},
 {'label': ' United Kingdom', 'value': ' United Kingdom'},
 {'label': ' Albania', 'value': ' Albania'}]

In [33]:
country_options[1:4]

[{'label': ' Belarus', 'value': ' Belarus'},
 {'label': ' Belgium', 'value': ' Belgium'},
 {'label': ' Bosnia And Herzegovina', 'value': ' Bosnia And Herzegovina'}]

In [35]:
df_bar = df.loc[(df['Country'] == ' Portugal')]

AttributeError: 'list' object has no attribute 'dtypes'

In [25]:
x_bar = df['Year']

In [28]:
y_bar = df['Purchasing_Power']

In [3]:
path = 'https://raw.githubusercontent.com/andremforte/FinalProjectDV/master/'

df = pd.read_csv(path + 'df.csv')

In [4]:
df.dtypes

Unnamed: 0                    int64
Year                          int64
Country                      object
CODE                         object
Quality_Of_Life             float64
Purchasing_Power            float64
Safety                      float64
Health_Care                 float64
Cost_Of_Living              float64
Property_Price_To_Income    float64
Traffic_Commute_Time        float64
Pollution                   float64
Climate                     float64
dtype: object

In [8]:
df.columns

Index(['country', 'country_code', 'year', 'merchandise_trade',
       'commercial_service_exports', 'commercial_service_imports',
       'computer_communications_otherservices(exports)',
       'computer_communications_otherservices(imports)',
       'insurance_financial_services(imports)',
       'insurance_financial_services(exports)', 'transport_services(exports)',
       'merchandise_exports', 'manufactures_exports(merchandise_exports)',
       'food_exports(merchandise_exports)',
       'agricultural_raw materials_exports(merchandise_exports)',
       'fuel_exports(merchandise_exports)',
       'ores_metals_exports(merchandise_exports)',
       'food_imports(merchandise_imports)',
       'fuel_imports(merchandise_imports)',
       'manufactures_imports(merchandise_imports)',
       'agricultural_raw materials_imports(merchandise_imports)',
       'merchandise_imports', 'ores_metals_imports(merchandise_imports)',
       'services_trade', 'transport_services(imports)', 'GDP'],
      dtype='object')

In [9]:
df['country'].unique().tolist()

['Albania',
 'Armenia',
 'Austria',
 'Azerbaijan',
 'Belarus',
 'Belgium',
 'Bosnia and Herzegovina',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Georgia',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Ireland',
 'Italy',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Moldova',
 'Montenegro',
 'Netherlands',
 'North Macedonia',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Russian Federation',
 'Serbia',
 'Slovak Republic',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey',
 'Ukraine',
 'United Kingdom']

In [10]:
df[['City', 'Country']] = df['City'].str.split(', ', expand=True)

KeyError: 'City'

In [18]:
geojson = {'type' : 'FeatureCollection', 'features' : []}

features = ['feature_1', 'feature_...']

feature_1 = {'type' : 'feature',
             'properties' : { 'any_kind_of_information' },
             'id' : 'country_name',
             'geometry' : { 'type' : 'Point' , 'coordinates' : [[1,2], [2,3]]}
            }

geometry_possible_type = 'Point, LineString, Polygon, MultiPoint, MultiLineString, or MultiPolygon'

In [112]:
# Load a GeoJson file from an url
import urllib.request, json 

with urllib.request.urlopen(path + 'countries.geojson') as url:
    data_geo = json.loads(url.read().decode())

In [113]:
data_geo['features'][2]

{'type': 'Feature',
 'properties': {'ADMIN': 'Angola', 'ISO_A3': 'AGO'},
 'geometry': {'type': 'MultiPolygon',
  'coordinates': [[[[11.73751945100014, -16.692577982999836],
     [11.738506688000115, -16.70582207599999],
     [11.71579354500011, -16.685006365999968],
     [11.701973057000117, -16.65567360999991],
     [11.669394143000147, -16.557209578999945],
     [11.671369885000104, -16.529743735999915],
     [11.68124365600005, -16.51743619799997],
     [11.701977019000111, -16.50039341199999],
     [11.719745932000109, -16.506082592999903],
     [11.721527540000068, -16.555433851999936],
     [11.725759311000104, -16.577325127999956],
     [11.725759311000104, -16.618422132999868],
     [11.726658696000072, -16.656626828],
     [11.73751945100014, -16.692577982999836]]],
   [[[13.98232954900007, -5.853285013999837],
     [14.006307414000077, -5.86692759199984],
     [14.021190226000101, -5.872508646999862],
     [14.140149374000146, -5.863516946999823],
     [14.163093710000084, -5.866100768999914],
     [14.222211548000132, -5.886978047999889],
     [14.241848592000082, -5.889561868999891],
     [14.346131632000095, -5.891525573999914],
     [14.43666874100009, -5.893385924999919],
     [14.48214400200007, -5.885531107999896],
     [14.545706014000132, -5.901654153999871],
     [14.57660852100011, -5.904651387999891],
     [14.703732544000076, -5.881396992999868],
     [14.759651665000149, -5.880469130999842],
     [14.79716353300006, -5.87984669999986],
     [14.888424113000042, -5.878296406999837],
     [14.979581340000038, -5.8767461139999],
     [15.070841919000117, -5.875299173999821],
     [15.16210249800011, -5.873748880999898],
     [15.253363078000092, -5.872198587999876],
     [15.34452030400007, -5.870751646999793],
     [15.435780884000081, -5.869201354999859],
     [15.527041463000074, -5.867754414999865],
     [15.618302042000067, -5.866204121999843],
     [15.70956262200005, -5.86475718099986],
     [15.800719849000131, -5.863206888999841],
     [15.892083780000064, -5.861656595999818],
     [15.983241007000117, -5.860106302999881],
     [16.0745015870001, -5.858556009999873],
     [16.100855892000112, -5.858107807999915],
     [16.16565881300008, -5.857005716999851],
     [16.257022746000104, -5.855558776999857],
     [16.31572717300014, -5.854628600999902],
     [16.34125533000008, -5.859796243999895],
     [16.358515258000097, -5.870234883999842],
     [16.37432824700008, -5.882843932999862],
     [16.396135701000105, -5.89410939499983],
     [16.41246545400014, -5.896796569999864],
     [16.427451619000124, -5.89462615899987],
     [16.45949100700011, -5.88522104899991],
     [16.479334757000117, -5.882223815999808],
     [16.49731815600009, -5.882843932999862],
     [16.515094848000047, -5.887081399999914],
     [16.552921997000112, -5.902377624999872],
     [16.560260051000085, -5.906408385999868],
     [16.59736372800009, -5.924701842999838],
     [16.59405643700009, -5.933176777999847],
     [16.580620564000128, -5.948989765999841],
     [16.580723918000075, -5.955397643999874],
     [16.590335734000064, -5.968006692999907],
     [16.595296672000103, -5.978548685999868],
     [16.597157023000108, -5.987850443999889],
     [16.601187785000036, -6.050585632999841],
     [16.604288371000052, -6.061851094999895],
     [16.61007613100014, -6.061230976999838],
     [16.61948124200009, -6.056580098999874],
     [16.628369588000112, -6.055339863999933],
     [16.63219364400004, -6.065261738999837],
     [16.611109660000125, -6.089756367999883],
     [16.630953410000103, -6.09172007299982],
     [16.643045695000097, -6.100711770999865],
     [16.660098917000113, -6.123966165999875],
     [16.671777791000096, -6.130167337999865],
     [16.68511031100013, -6.134301452999893],
     [16.69585900900006, -6.14091603499989],
     [16.70040653500007, -6.154351908999843],
     [16.717873169000114, -6.174092304999903],
     [16.726761516000124, -6.189181822999899],
     [16.724384400000105, -6.202410989999805],
     [16.717253052000046, -6.215123392999857],
     [16.71477258300007, -6.231556497999819],
     [16.715392700000052, -6.304833678999913],
     [16.716942994000078, -6.313308613999837],
     [16.720146932000148, -6.322610371999858],
     [16.722317342000025, -6.332428893999833],
     [16.720973755000074, -6.342350767999918],
     [16.715289347000123, -6.345968118999807],
     [16.706090943000106, -6.346691588999889],
     [16.69740930100008, -6.349792174999848],
     [16.69358524600011, -6.359817402999866],
     [16.692965129000072, -6.398368021999843],
     [16.69472212700012, -6.402192076999882],
     [16.70040653500007, -6.411287129999849],
     [16.707021118000085, -6.415421243999873],
     [16.71363570200006, -6.413974303999879],
     [16.718906697000108, -6.415317890999845],
     [16.720973755000074, -6.428340351999793],
     [16.71518599400008, -6.441362813999916],
     [16.706090943000106, -6.455212096999887],
     [16.706090943000106, -6.465030618999847],
     [16.727795044000118, -6.465960794999901],
     [16.721283813000042, -6.480533548999858],
     [16.721697224000053, -6.491799010999912],
     [16.72800175000009, -6.501100768999848],
     [16.738337036000075, -6.510609231999837],
     [16.747328736000043, -6.521978046999919],
     [16.746811971000085, -6.531589863999841],
     [16.734512980000147, -6.552363789999873],
     [16.73079227700012, -6.569830423999832],
     [16.733996216000094, -6.58605682399984],
     [16.74867232300008, -6.619543150999931],
     [16.75301314200007, -6.637216491999837],
     [16.75590702300005, -6.674113464999863],
     [16.760351197000148, -6.691993508999829],
     [16.768102661000086, -6.708323261999851],
     [16.823086385000096, -6.78511444099982],
     [16.826910441000052, -6.79979054799982],
     [16.828564087000103, -6.814363301999862],
     [16.832904907000085, -6.827799173999907],
     [16.84448042800011, -6.838444518999907],
     [16.855332479000083, -6.84216522199992],
     [16.879413696000114, -6.844645690999897],
     [16.8907825120001, -6.84712615899987],
     [16.91496708200009, -6.864076028999875],
     [16.92695601400004, -6.888570657999836],
     [16.93450077300008, -6.945724791999865],
     [16.93212365700012, -6.949858906999793],
     [16.92860966000009, -6.959264017999843],
     [16.928713012000117, -6.968669127999888],
     [16.93760135900004, -6.973009948999874],
     [16.949073527000053, -6.975387063999918],
     [16.955274699000114, -6.981484883999869],
     [16.959305461000042, -6.989443053999835],
     [16.964576457000135, -6.997194518999848],
     [16.973154744000084, -7.014764505999906],
     [16.96933068900006, -7.030370787999857],
     [16.96230269400013, -7.04742401099989],
     [16.961165812000047, -7.069231464999817],
     [16.929126424000117, -7.060653177999882],
     [16.92705936700014, -7.085664570999882],
     [16.94752323400013, -7.151086933999864],
     [16.945662882000107, -7.204623718999812],
     [16.95083052500013, -7.213202005999932],
     [16.960545695000064, -7.21909311999984],
     [16.972844686000087, -7.232218932999899],
     [16.98907108500012, -7.254853209999851],
     [16.99165490700011, -7.27056284499983],
     [16.99165490700011, -7.286065774999841],
     [16.996099080000107, -7.297951354999867],
     [17.022867472000087, -7.306012878999852],
     [17.056663859000082, -7.32988738999984],
     [17.082502075000093, -7.34228973399982],
     [17.093354126000037, -7.352314961999838],
     [17.097798299000146, -7.367404479999834],
     [17.097894948000146, -7.378293566999929],
     [17.098108358000047, -7.402337747999823],
     [17.103999471000122, -7.416083678999854],
     [17.118158813000093, -7.425488789999818],
     [17.126220337000063, -7.411432799999886],
     [17.132214803000096, -7.409572448999882],
     [17.13820926900013, -7.413706562999906],
     [17.146167439000095, -7.418047383999891],
     [17.167458130000085, -7.423525084999881],
     [17.176553182000134, -7.428175963999848],
     [17.180273885000076, -7.435410664999907],
     [17.17489953600011, -7.441611836999897],
     [17.163117310000104, -7.445539244999864],
     [17.151541789000134, -7.4512236529999],
     [17.146167439000095, -7.463109232999841],
     [17.148544555000058, -7.47261769599983],
     [17.15495243300009, -7.479128925999888],
     [17.16342736800007, -7.485226744999849],
     [17.172832479000135, -7.493805032999873],
     [17.18626835100008, -7.5163359579999],
     [17.202908163000103, -7.564291686999837],
     [17.21779097500007, -7.585995788999824],
     [17.266573527000105, -7.610387063999852],
     [17.286417277000112, -7.625166523999866],
     [17.282696574000084, -7.643976745999879],
     [17.287450806000095, -7.660203144999798],
     [17.28652063000004, -7.683664245999864],
     [17.28889774600009, -7.699477233999858],
     [17.303780558000113, -7.692449238999856],
     [17.305950968000104, -7.700097350999926],
     [17.308121379000085, -7.701854349999806],
     [17.308121379000085, -7.702371113999845],
     [17.303780558000113, -7.706711933999827],
     [17.320420369000146, -7.7136365759999],
     [17.32062707500009, -7.722421569999895],
     [17.314219198000046, -7.731826680999845],
     [17.310601847000072, -7.74081837899989],
     [17.315976196000122, -7.753634134999871],
     [17.334062947000064, -7.769653828999836],
     [17.337887003000077, -7.778645527999871],
     [17.342434529000116, -7.784019876999835],
     [17.365482218000096, -7.787327168999838],
     [17.37540409400009, -7.792288105999873],
     [17.376954386000108, -7.801693216999837],
     [17.376127563000068, -7.814095560999903],
     [17.380985148000093, -7.823190612999866],
     [17.400002075000145, -7.823397318999838],
     [17.400002075000145, -7.830218606999878],
     [17.39070031700004, -7.839210306999831],
     [17.397624959000012, -7.841380716999822],
     [17.410854126000118, -7.841484069999851],
     [17.420569295000064, -7.843861185999799],
     [17.423566529000055, -7.855126647999853],
     [17.42304976400004, -7.86794240299983],
     [17.426357056000114, -7.875487161999885],
     [17.440929810000085, -7.871146341999804],
     [17.452401977000108, -7.883962096999881],
     [17.44868127400008, -7.892850442999901],
     [17.439379517000077, -7.902152200999836],
     [17.434108520000024, -7.915794778999839],
     [17.43782922300005, -7.922409362999829],
     [17.446820923000075, -7.928920592999901],
     [17.46831831900002, -7.939462584999859],
     [17.463564087000123, -7.946903990999886],
     [17.46304732200008, -7.949797871999877],
     [17.465217733000088, -7.952588398999836],
     [17.46831831900002, -7.959926452999824],
     [17.471108846000078, -7.955585631999853],
     [17.47720666500004, -7.950521341999874],
     [17.481857544000093, -7.945663756999849],
     [17.490952596000085, -7.977496439999896],
     [17.496223592000092, -7.987211608999843],
     [17.506352173000067, -7.99651336599986],
     [17.528366333000122, -8.007778828999918],
     [17.536531209000145, -8.01511688199983],
     [17.540045207000105, -8.032066751999835],
     [17.528366333000122, -8.060592141999877],
     [17.536218704000134, -8.075402310999849],
     [17.536531209000145, -8.075991718999859],
     [17.544282674000073, -8.084776712999854],
     [17.60019657400005, -8.098522643999885],
     [17.62841190500012, -8.098005878999842],
     [17.713264608000088, -8.068343607999793],
     [17.74334029200014, -8.070720722999837],
     [17.777240031000076, -8.08332977299986],
     [17.7895390220001, -8.081779479999838],
     [17.851757447000097, -8.047776387999889],
     [17.8679838460001, -8.044469095999887],
     [17.901366821000096, -8.048086445999871],
     [17.93082238700009, -8.062142435999888],
     [17.981878703000064, -8.105343932999844],
     [18.008543742000114, -8.111235045999834],
     [18.098150675000056, -8.1092713419999],
     [18.091742798000098, -8.084156595999872],
     [18.092879680000124, -8.056354674999824],
     [18.10218143700004, -8.033306986999861],
     [18.120371541000083, -8.022454935999818],
     [18.135771118000065, -8.018527526999847],
     [18.176595500000076, -7.999200540999894],
     [18.192718546000066, -7.996926777999875],
     [18.26733931400011, -7.999820657999862],
     [18.316225220000092, -8.00168100999987],
     [18.353638957000072, -8.015943704999842],
     [18.366558065000078, -8.016770527999867],
     [18.38195764100007, -8.012326353999867],
     [18.40386844900013, -8.000647480999888],
     [18.420508260000133, -7.99827036499984],
     [18.481796509000105, -7.997340188999885],
     [18.487894328000067, -7.99827036499984],
     [18.507634725000116, -7.997546894999843],
     [18.502260376000066, -7.960133157999792],
     [18.5043274330001, -7.940702819999899],
     [18.516523071000023, -7.932227884999804],
     [18.588663371000024, -7.932331237999918],
     [18.6669014900001, -7.932331237999918],
     [18.73852502400004, -7.932331237999918],
     [18.74731001800012, -7.937808939999826],
     [18.752064249000114, -7.965920918999856],
     [18.758265421000118, -7.97821990899989],
     [18.773768351000115, -8.001991068999857],
     [18.81800337700014, -8.001991068999857],
     [18.94543746000008, -8.001991068999857],
     [19.07307824700004, -8.001991068999857],
     [19.20061568200009, -8.001991068999857],
     [19.32825647000007, -8.001991068999857],
     [19.355541626000104, -8.001991068999857],
     [19.334044230000046, -7.924269713999834],
     [19.330943644000115, -7.898638203999866],
     [19.333837525000092, -7.867322285999862],
     [19.34851363100009, -7.82153696699983],
     [19.35802209500008, -7.791564635999876],
     [19.377762492000045, -7.730069680999876],
     [19.381379842000115, -7.703921406999868],
     [19.380966431000104, -7.679736836999894],
     [19.373214965000102, -7.653795267999854],
     [19.361846151000094, -7.627026875999874],
     [19.35368127400008, -7.600258483999895],
     [19.355644979000118, -7.574110208999798],
     [19.424684692000085, -7.57969126399982],
     [19.44390832500011, -7.575247090999895],
     [19.45827437300011, -7.560260925999927],
     [19.468713013000126, -7.521090188999892],
     [19.482355591000044, -7.503520201999905],
     [19.48307906100004, -7.502900084999851],
     [19.48390588400008, -7.502383320999812],
     [19.48473270700009, -7.501969908999797],
     [19.513154744000104, -7.479438984999874],
     [19.513774862000076, -7.448433125999856],
     [19.48721317500008, -7.381977233999891],
     [19.479461711000056, -7.34766408299987],
     [19.47636112500004, -7.315934752999851],
     [19.48721317500008, -7.153877461999826],
     [19.497031697000125, -7.121734720999882],
     [19.508607219000083, -7.103234557999855],
     [19.536202434000074, -7.068404642999894],
     [19.542610311000118, -7.052281595999901],
     [19.54023319500007, -7.041636249999911],
     [19.521836385000086, -7.001948750999844],
     [19.574029582000065, -7.001948750999844],
     [19.6160941980001, -7.001948750999844],
     [19.65805546100009, -7.001948750999844],
     [19.70001672300009, -7.001948750999844],
     [19.74197798600008, -7.001948750999844],
     [19.784042602000113, -7.001948750999844],
     [19.82610721800006, -7.001948750999844],
     [19.86806848200007, -7.001948750999844],
     [19.910029745000145, -7.001948750999844],
     [19.952094360000075, -7.001948750999844],
     [19.963079168000093, -7.001948750999844],
     [19.994055623000094, -7.001948750999844],
     [20.0361202390001, -7.001948750999844],
     [20.07818485500013, -7.001948750999844],
     [20.120146118000036, -7.001948750999844],
     [20.162107381000055, -7.001948750999844],
     [20.20406864400013, -7.001948750999844],
     [20.246236613000093, -7.001948750999844],
     [20.294295695000073, -7.001948750999844],
     [20.294192342000116, -6.987479349999902],
     [20.298636515000055, -6.954509785999846],
     [20.303184042000083, -6.940143736999843],
     [20.311245564000075, -6.925054219999851],
     [20.319513794000102, -6.918542988999874],
     [20.33108931500007, -6.916785989999895],
     [20.383695922000044, -6.91668263799987],
     [20.467308390000085, -6.916372578999884],
     [20.553711385000042, -6.916165872999926],
     [20.611485636000054, -6.915959166999869],
     [20.588127889000106, -6.976834004999901],
     [20.560946085000097, -7.047837422999805],
     [20.54544315600009, -7.088558450999869],
     [20.524462524000086, -7.143128763999897],
     [20.51826135200011, -7.189740904999866],
     [20.519398234000107, -7.237179870999853],
     [20.520535116000133, -7.286375833999912],
     [20.56704390400006, -7.286169127999855],
     [20.639804321000042, -7.285962422999901],
     [20.71256473800011, -7.285859069999873],
     [20.785221801000148, -7.285549010999887],
     [20.85798221900012, -7.285342305999933],
     [20.930742635000087, -7.285238951999816],
     [21.003503051000052, -7.284928893999918],
     [21.07626346900011, -7.284722187999861],
     [21.148920532000147, -7.284618834999847],
     [21.22178430100007, -7.284412129999794],
     [21.294338013000072, -7.284205423999836],
     [21.367098429000066, -7.283998717999864],
     [21.439962198000046, -7.283792011999822],
     [21.51261926300009, -7.283585306999854],
     [21.5854830320001, -7.283378600999811],
     [21.658243448000064, -7.283171894999853],
     [21.73090051300011, -7.2829651899998],
     [21.764490194000132, -7.282758482999839],
     [21.784954060000075, -7.283378600999811],
     [21.784644002000107, -7.286892598999856],
     [21.78826135200009, -7.291750182999877],
     [21.794772583000054, -7.294023945999896],
     [21.802524048000066, -7.298881530999907],
     [21.808828572000067, -7.306426289999862],
     [21.83135949700008, -7.354175313999846],
     [21.8369405520001, -7.360583190999876],
     [21.84241825300009, -7.369884948999811],
     [21.83993778500013, -7.378153177999849],
     [21.834976847000064, -7.385284524999889],
     [21.832909790000116, -7.390762226999883],
     [21.83869755000009, -7.402027688999837],
     [21.845725545000107, -7.409055683999853],
     [21.851616659000086, -7.416497089999865],
     [21.854097127000074, -7.428899434999849],
     [21.852960246000066, -7.434997253999896],
     [21.847792603000073, -7.44409230499987],
     [21.846655721000047, -7.449053242999824],
     [21.84892948400008, -7.454841002999885],
     [21.858644654000102, -7.464039407999792],
     [21.860918416000118, -7.469827168999856],
     [21.859058065000113, -7.482642923999848],
     [21.849963012000046, -7.502900084999851],
     [21.846655721000047, -7.514268899999834],
     [21.845932251000136, -7.526774596999843],
     [21.848206014000084, -7.532975768999918],
     [21.851513306000072, -7.538453469999809],
     [21.854097127000074, -7.548375345999901],
     [21.854097127000074, -7.585995788999824],
     [21.850789835000086, -7.593643899999904],
     [21.836217082000104, -7.60832000699989],
     [21.832909790000116, -7.614211119999894],
     [21.83104943900011, -7.63281463599985],
     [21.826558136000102, -7.645600686999856],
     [21.81957727000008, -7.665474141999823],
     [21.807898397000116, -7.699373880999829],
     [21.795082642000125, -7.736270852999851],
     [21.787227824000098, -7.758595071999821],
     [21.776169067000097, -7.79032440099985],
     [21.770484659000147, -7.806757506999816],
     [21.76459354700006, -7.850682473999839],
     [21.770898071000147, -7.876520690999868],
     [21.7721383060001, -7.888199563999834],
     [21.768831014000114, -7.899878437999817],
     [21.75436161300007, -7.91961883599987],
     [21.751054321000083, -7.929230651999887],
     [21.75394820200006, -7.997340188999885],
     [21.7584957280001, -8.01511688199983],
     [21.76821089700013, -8.02317840499991],
     [21.79963016800008, -8.040851744999912],
     [21.806348104000108, -8.052427266999857],
     [21.8085185140001, -8.07671518999986],
     [21.815133098000075, -8.096765644999905],
     [21.825985148000115, -8.114438984999907],
     [21.851203247000086, -8.143481139999892],
     [21.857301066000048, -8.156917011999852],

In [34]:
df1.columns

Index(['Country Name', 'Country Code', 'Time', 'Merchandise trade (% of GDP) ',
       'Commercial service exports (current US$)',
       'Commercial service imports (current US$) ',
       'Computer, communications and other services (% of commercial service exports) ',
       'Computer, communications and other services (% of commercial service imports)',
       'Insurance and financial services (% of commercial service imports) ',
       'Insurance and financial services (% of commercial service exports) ',
       'Transport services (% of commercial service exports) ',
       'Merchandise exports (current US$) ',
       'Manufactures exports (% of merchandise exports)',
       'Food exports (% of merchandise exports) ',
       'Agricultural raw materials exports (% of merchandise exports)',
       'Fuel exports (% of merchandise exports)',
       'Ores and metals exports (% of merchandise exports) ',
       'Food imports (% of merchandise imports) ',
       'Fuel imports (% of merchandise imports) ',
       'Manufactures imports (% of merchandise imports) ',
       'Agricultural raw materials imports (% of merchandise imports) ',
       'Merchandise imports (current US$) ',
       'Ores and metals imports (% of merchandise imports) ',
       'Exports of goods and services (% of GDP)',
       'Trade in services (% of GDP) ',
       'Transport services (% of commercial service imports) ',
       'GDP (current US$)'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903 entries, 0 to 902
Data columns (total 26 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   country                                                  903 non-null    object
 1   country_code                                             903 non-null    object
 2   year                                                     903 non-null    int64
 3   merchandise_trade                                        903 non-null    object
 4   commercial_service_exports                               903 non-null    object
 5   commercial_service_imports                               903 non-null    object
 6   computer_communications_otherservices(exports)           903 non-null    object
 7   computer_communications_otherservices(imports)           903 non-null    object
 8   insurance_financial_services(imports)                    903 non-null    object
 9   insurance_financial_services(exports)                    903 non-null    object
 10  transport_services(exports)                              903 non-null    object
 11  merchandise_exports                                      903 non-null    object
 12  manufactures_exports(merchandise_exports)                903 non-null    object
 13  food_exports(merchandise_exports)                        903 non-null    object
 14  agricultural_raw materials_exports(merchandise_exports)  903 non-null    object
 15  fuel_exports(merchandise_exports)                        903 non-null    object
 16  ores_metals_exports(merchandise_exports)                 903 non-null    object
 17  food_imports(merchandise_imports)                        903 non-null    object
 18  fuel_imports(merchandise_imports)                        903 non-null    object
 19  manufactures_imports(merchandise_imports)                903 non-null    object
 20  agricultural_raw materials_imports(merchandise_imports)  903 non-null    object
 21  merchandise_imports                                      903 non-null    object
 22  ores_metals_imports(merchandise_imports)                 903 non-null    object
 23  services_trade                                           903 non-null    object
 24  transport_services(imports)                              903 non-null    object
 25  GDP                                                      903 non-null    float64
dtypes: float64(1), int64(1), object(24)
memory usage: 183.5+ KB

In [20]:
 a = df[df['year'] == 2018][['GDP', 'country_code', 'country']]

In [24]:
b = ['services_trade','merchandise_trade']
     
for col in b:
     df[col] = df[col].astype(str)

a['text'] = df['country'] + '<br>' + \
    'Trade in Services = ' + df['services_trade'] + ' % of GDP' + '<br>' + \
    'Merchandise trade = ' + df['merchandise_trade'] + '% of GDP' + '<br>'


data_choropleth = dict(type='choropleth',
                       locations=a['country_code'],  #There are three ways to 'merge' your data with the data pre embedded in the map
                       z=a['GDP'],
                       text=a['text'],
                       colorscale='Blues',
                       colorbar_title="$US"
                      )

layout_choropleth = dict(geo=dict(scope='europe',  #default
                                  projection=dict(type='orthographic'
                                                 ),
                                  #showland=True,   # default = True
                                  landcolor='black',
                                  lakecolor='white',
                                  showocean=True,  
                                # default = False
                                  oceancolor='azure'
                                 ),
                         
                         title=dict(text='2018 European GDP ($ US) Choropleth Map',
                                    x=.5 # Title relative position according to the xaxis, range (0,1)
                                   )
                        )

In [25]:
fig_choropleth = go.Figure(data=data_choropleth, layout=layout_choropleth)

fig_choropleth.show(renderer = 'browser')

In [15]:
a['country_code']

18     ALB
39     ARM
60     AUT
81     AZE
102    BLR
123    BEL
144    BIH
165    BGR
186    HRV
207    CYP
228    CZE
249    DNK
270    EST
291    FIN
312    FRA
333    GEO
354    DEU
375    GRC
396    HUN
417    ISL
438    IRL
459    ITA
480    LVA
501    LTU
522    LUX
543    MDA
564    MNE
585    NLD
606    MKD
627    NOR
648    POL
669    PRT
690    ROU
711    RUS
732    SRB
753    SVK
774    SVN
795    ESP
816    SWE
837    CHE
858    TUR
879    UKR
900    GBR
Name: country_code, dtype: object